.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      cursor: pointer;
      font-size: 35px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
  
      & .collection-item {
        margin-bottom: 30px;
      }
    }
  }
  